img[src$=".svg"] {
    width: auto !important;
    max-width: none !important;
    height: auto !important;
    display: inline-block !important;
}

svg > text:last-of-type {
    opacity: 0 !important;
    pointer-events: none !important;
}
